.Footer-box{
    width: 510px;
    height: 80px;
    line-height: 80px;
    margin-left: 20px;
    color: #ffffff;
    /* border: 1px solid black; */
}
.Footer-box span{
    padding: 5px;
    padding-bottom: 8px;
    border: transparent 1px solid;
    margin-right: 20px;
}
.Footer-box .Footer-span1{
    color: #aec4bd;
    margin-left: 23px;
    margin-right: 13px;
}
.Footer-button{
    float: right;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #a09d96;
    font-weight: 100;
    background-color: transparent;
    margin-top: 33px;
    
}
.active{
    color: #FFFF00;
}

.footer-span-border:hover{
   
    padding: 5px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: 1px solid gold;
}
.Footer-button:hover{
    text-decoration: underline;
}
.footer-stron{
    margin-right: 5px;
    color: rgb(168, 140, 170);
}